html,
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Helvetica', sans-serif;
}

span,
nav {
  color: white;
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: 960px;
}



header {
  background-image: url('../images/glasses-bg.png');
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 1rem;
}


nav {
   background-color: cadetblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;

 }
nav img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  align-items: center;

}

nav div {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  color: white;
}

li {
  padding-right: 2rem;
}

.pullout-container {
  display: flex;
  justify-content: flex-end;
}

.pullout {
  display: inline-block;
  margin-top: 10rem;
  margin-right: 5rem;
  padding: 0.75rem 4rem;
}


.pullout h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
  margin-right: 2rem;

}

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service img.paper-icon {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}


.img {
  border-style: none;
}

div{
  color: black;
  display: block;
}


.phil-apptmt {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.phil-apptmt h3 {
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.phil-apptmt p {
  padding-top: 1rem ;
}

.philosophy,
.appointments {
  width: 35%;
}

.philosophy {
  padding-right: 5%;
}

footer {
  max-width: 960px;
  padding: 0 4rem;
  display: flex;
  background-color: azure;
  height: 9.5rem;
  margin: 5rem auto;

}

.footer {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.footer img {
  height: 1.5rem;
  padding-right: 1.5rem
}

footer span {
  color: black;
  align-items: center;
}

@media only screen and (min-width: 960px) {
  .mobile-nav {
    display: none;
  }
}
