html,
body {
  font-size: 18px;
  line-height: 1.4rem;
  font-family: 'Helvetica', sans-serif;
}

span,
nav {
  color: white;
  font-size: 1rem;
}

.container {
  margin: auto;
  max-width: 960px;
}



header {
  background-image: url('../images/glasses-bg.png');
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 1rem;
}


nav {
   background-color: cadetblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;

 }
nav img{
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
  align-items: center;

}

nav div {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  color: white;
}

li {
  padding-right: 2rem;
}

.pullout-container {
  display: flex;
  justify-content: flex-end;
}

.pullout {
  display: inline-block;
  margin-top: 10rem;
  margin-right: 5rem;
  padding: 0.75rem 4rem;
}


.pullout h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
  margin-right: 2rem;

}

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.service img.paper-icon {
  width: 3.5rem;
  margin-bottom: 1rem;
}

.service img {
  width: 5rem;
  margin-bottom: 1rem;
}


.img {
  border-style: none;
}

div{
  color: black;
  display: block;
}


.phil-apptmt {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.phil-apptmt h3 {
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  color: white;
  padding: 0.5rem 0 0.5rem 1.25rem;
}

.phil-apptmt p {
  padding-top: 1rem ;
}

.philosophy,
.appointments {
  width: 35%;
}

.philosophy {
  padding-right: 5%;
}

footer {
  max-width: 960px;
  padding: 0 4rem;
  display: flex;
  background-color: azure;
  height: 9.5rem;
  margin: 5rem auto;

}

.footer {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1.5rem
}

footer span {
  color: black;
  align-items: center;
}

@media only screen and (min-width: 960px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 960px) {

.mobile-nav {
  display: none
}

header {
  height: 22rem;
  padding-top: 0;
}

.pullout {
  margin-top: 5rem;
  margin-right: 0;
  padding: 0.75em 0;
}

.pullout h1 {
  font-size: 1.33rem;
}

@media only screen and (max-width: 615px) {

header {
  width: 100%;
  height: 17rem;
  padding-top: 1rem;
  background-size: cover;
  background-position: 20%;
  margin-bottom: 3.77rem;
}

div span {
  display: none;
}

.mobile-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.pullout-container {
  width: 100%;
}

.pullout {
  width: 100%;
  margin-top: 9rem;
}

.pullout h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.big-screen {
  display: none;
}

.mobile-nav {
  display: block;
  text-align: right;
  justify-content: space-around;
}

.supporting {
  flex-direction: column;
  align-items: center;
}

.service {
  display: block;
  margin: 0 0 1.54rem 0;
  width: 5rem;
  height: 7rem;
}

.service div {
  font-size: 0.77rem;
}


.phil-apptmt {
  display: inline-block;
  max-width: 100%;
}

.phil-apptmt h3 {
  width: 100%;
  text-align: center;
}

.phil-apptmt p {
  font-size: 0.77rem;
  padding: 1rem 2rem 4rem 0.5rem;
}

.philosophy,
.appointments {
  width: 100%;
}


footer {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  padding-left: 0rem;
  justify-content: center;
}

footer img {
  padding-right: 0;
  justify-content: center;
}
